@font-face {
	font-family: "Tempora-Regular";
	src: url("/public/assets/fonts/TemporaRegular.ttf");
}

@font-face {
	font-family: "Tempora-Bold";
	src: url("/public/assets/fonts/TemporaBold.ttf");
}

@font-face {
	font-family: "MyriadPro-Italic";
	src: url("/public/assets/fonts/MyriadProItalic.ttf");
}

@font-face {
	font-family: "Avatar-Regular";
	src: url("/public/assets/fonts/AvatarRegular.ttf");
}