.title {
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
}

.desc {
	font-size: 25px;
	border: 1px solid #e19a66;
	border-radius: 15px;
	padding: 20px 0;
	padding-left: 10px;

	@media(max-width: 768px) {
		font-size: 20px;
	}

	@media(max-width: 500px) {
		font-size: 18px;
	}
}